<div class="clear"></div>
</div>
<div id="footer">
  <%= link_to "Help", "/" %>
  |
  <%= link_to "About", "http://www.amee.com/about" %>
  |
  <%= link_to "Terms & Conditions", "http://www.amee.com/tcs" %>
  |
  <%= link_to "Privacy", "http://wiki.amee.com/index.php/AMEE_Data_Wiki:Privacy_policy" %>
  |
  <%= link_to "Contact", "http://www.amee.com/contact" %>
</div>
