<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>AMEE Audit</title>

    <%= stylesheet_link_tag "#{$my_amee_config['url']}/stylesheets/main.css" %>
    <%= stylesheet_link_tag "/stylesheets/font-face.css" %>
    <%= stylesheet_link_tag "#{$my_amee_config['url']}/stylesheets/authority.css" %>
    <%= stylesheet_link_tag 'search_highlight','search_results', 'main', 'jquery.treeview' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'jrails' %>
    <%= javascript_include_tag 'mousewheel' %>
    <%= javascript_include_tag 'mapbox' %>
    <!--[if lt IE 7]>
    <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
    <%= stylesheet_link_tag "#{$my_amee_config['url']}/stylesheets/ie6.css" %>
    <![endif]-->
    <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";
    feedback_widget_options.company = "amee";
    feedback_widget_options.placement = "right";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";
    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>

  </head>
	<body>
    <%= render :partial => "layouts/localhost_warning" if Rails.env.development? %>
    <%= render :partial => "layouts/header" %>
    <%= yield  %>
    <%= render :partial => "layouts/footer" %>

    <script type="text/javascript" charset="utf-8">
       $(document).ready(function(){
           <%= yield :jquery_onload %>
       });
       window.onload = function () {
           <%= yield :window_onload %>
       }
       <%= yield :page_javascript %>
    </script>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-498234-13");
    pageTracker._setDomainName("none");
    pageTracker._trackPageview();
    } catch(err) {}</script>

  </body>
</html>
